/* Square container HEADER */
.square_container{
    display: flex;
    justify-content: end;
    width: 100%;
}
.square_content{
    width: 45%;
    height: 500px;
    background-color: $primary;
    position: absolute;
    z-index: -100000;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}
/* Square container HEADER END */


/* Square container MOBILE */
.square_container_mobile{
    display: none;
}
/* Square container MOBILE END */



/* Animation underline progressive dark */
.dark_p {
    --s: 0.1em;      /* the thickness of the line */
    --c: #400105; /* the color */
    
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
  }
  .section1:hover > .article1 > .dark_p {--_p: 100%}

  /* Animation underline progressive light */

  .light_p {
    --s: 0.1em;   /* the thickness of the line */
    --c: white; /* the color */
    
    
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
  }
  .section2:hover > .article2 >  .light_p {--_p: 100%}
/* Animation underline progressive END */

/* Animation square */
.circles{
    position: absolute;
    margin-left: -60px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 80px;
    height: 80px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
/* Animation square END */

/* progress bars */

  .progress {
    background: #ffffff2f;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    display: flex;
    height: 30px;
    width: 235px;
  }

  $Time-progress: 2000ms;
  
  .section1:hover > .article1 > .container_competence > .card_competence > .container_competence_text > .progress > .progress-value1 {
    animation: load1 $Time-progress normal forwards;
    border-radius: 2px;
    background: #ffffff;
    height: 20px;
    width: 0;
  }

  @keyframes load1 {
    0% { width: 0; }
    100% { width: 100%; }
  }
  
  .section1:hover > .article1 > .container_competence > .card_competence > .container_competence_text > .progress > .progress-value2 {
    animation: load2 $Time-progress normal forwards;
    border-radius: 2px;
    background: #ffffff;
    height: 20px;
    width: 0;
  }

  @keyframes load2 {
    0% { width: 0; }
    100% { width: 100%; }
  }

  .section1:hover > .article1 > .container_competence > .card_competence > .container_competence_text > .progress > .progress-value3 {
    animation: load3 $Time-progress normal forwards;
    border-radius: 2px;
    background: #ffffff;
    height: 20px;
    width: 0;
  }

  @keyframes load3 {
    0% { width: 0; }
    100% { width: 100%; }
  }

  .section1:hover > .article1 > .container_competence > .card_competence > .container_competence_text > .progress > .progress-value4 {
    animation: load4 $Time-progress normal forwards;
    border-radius: 2px;
    background: #ffffff;
    height: 20px;
    width: 0;
  }

  @keyframes load4 {
    0% { width: 0; }
    100% { width: 80%; }
  }

  .section1:hover > .article1 > .container_competence > .card_competence > .container_competence_text > .progress > .progress-value5 {
    animation: load5 $Time-progress normal forwards;
    border-radius: 2px;
    background: #ffffff;
    height: 20px;
    width: 0;
  }

  @keyframes load5 {
    0% { width: 0; }
    100% { width: 80%; }
  }

  .section1:hover > .article1 > .container_competence > .card_competence > .container_competence_text > .progress > .progress-value6 {
    animation: load6 $Time-progress normal forwards;
    border-radius: 2px;
    background: #ffffff;
    height: 20px;
    width: 0;
  }

  @keyframes load6 {
    0% { width: 0; }
    100% { width: 40%; }
  }

  .section1:hover > .article1 > .container_competence > .card_competence > .container_competence_text > .progress > .progress-value7 {
    animation: load7 $Time-progress normal forwards;
    border-radius: 2px;
    background: #ffffff;
    height: 20px;
    width: 0;
  }

  @keyframes load7 {
    0% { width: 0; }
    100% { width: 70%; }
  }

  .section1:hover > .article1 > .container_competence > .card_competence > .container_competence_text > .progress > .progress-value8 {
    animation: load8 $Time-progress normal forwards;
    border-radius: 2px;
    background: #ffffff;
    height: 20px;
    width: 0;
  }

  @keyframes load8 {
    0% { width: 0; }
    100% { width: 65%; }
  }

  .section1:hover > .article1 > .container_competence > .card_competence > .container_competence_text > .progress > .progress-value9 {
    animation: load9 $Time-progress normal forwards;
    border-radius: 2px;
    background: #ffffff;
    height: 20px;
    width: 0;
  }

  @keyframes load9 {
    0% { width: 0; }
    100% { width: 65%; }
  }

  .section1:hover > .article1 > .container_competence > .card_competence > .container_competence_text > .progress > .progress-value10 {
    animation: load10 $Time-progress normal forwards;
    border-radius: 2px;
    background: #ffffff;
    height: 20px;
    width: 0;
  }

  @keyframes load10 {
    0% { width: 0; }
    100% { width: 70%; }
  }

  /* progress bars END */