



.presentation_content{
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.profil_picture{
    border-radius: 100%;
    object-fit: cover;
    width: 300px;
    height: 300px;
    object-position: 50% 0%;
    padding: 10px;
    border: 5px dashed rgba(255, 255, 255, 0.2);
}
.name{
    font-weight: 800;
    color: $tertiary;
    font-size: 50px;
    border-bottom: 3px solid $tertiary;

}
.study{
    font-weight: 600;
    color: $secondary;
    font-size: 25px;
    margin-top: -30px;
}
.study1{
    color: $secondary;
    font-size: 25px;
    margin-top: -30px;
}
.container_name{
    margin-top: 40px;
}
.container_article{
    width: 100%;
    max-width: 1000px;
    margin-bottom: 200px;
}
.story{
    margin-top: 150px;
}

.realisations{
    background-color: $primary;
    height: auto;
    padding-bottom: 100px;
}
.container_article_realisations{
    width: 100%;
    max-width: 1000px;
    color: white;
}
.content_article_realisations{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.img_re{
    width: 100%;
    max-width: 320px;
    height: 320px;
    object-fit: cover;
    border-radius: 15px;
    transition: 1000ms;
}
.card_article_realisations{
    cursor: pointer;
    background-color: $tertiary;
    padding: 3px;
    height: 320px;
    width: 100%;
    max-width: 320px;
    border-radius: 15px;
    color: white;
    transition: 200ms;
    margin: 2px;
    overflow: hidden;
    
    &:hover > .img_re{
        transition: 200ms;
        margin-top: -300px;
    }
    
}

.container_competence{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card_competence{
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    background: $primary;
    margin: 3px;
    padding: 3px;
    width: 244px;
    color: #fff;
    border-radius: 15px;
    transition: 500ms;
}
.card_competence:hover{
    background-color: $secondary;
    transition: 200ms;
}
.container_competence_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 244px;
}